.photo {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 8px;
}
.image {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.image-360 {
    margin-top: 80px;
    margin-left: 60px;
}
.interior,
.eksterior {
    font-size: 28px;
    margin-top: 30px;
    margin-left: 60px;
}
.sumber-image {
    margin-left: 180px;
}
.images-wraper {
    background-color: #fff;
    height: 350px;
    padding: 10px 0;
    border-radius: 8px;
}
.image-360 {
    width: 88%;
}
.image-360 h3,
.interior h3,
.eksterior h3 {
    margin-left: 10px;
}
.images {
    margin-left: 250px;
    width: 400px;
    margin-top: 10px;
    cursor: ew-resize;
}
.cloudimage-360-prev,
.cloudimage-360-next {
    padding: 8px;
    border: none;
    border-radius: 100px;
}
.cloudimage-360 .cloudimage-360-prev:focus,
.cloudimage-360 .cloudimage-360-next:focus {
    outline: none;
}
.cloudimage-360 .cloudimage-360-prev {
    display: none;
    position: absolute;
    z-index: 100;
    top: calc(100% - 15px);
    left: 100px;
}
.cloudimage-360 .cloudimage-360-next {
    display: none;
    position: absolute;
    z-index: 100;
    top: calc(100% - 15px);
    right: 100px;
}
.cloudimage-360 .cloudimage-360-prev:before,
.cloudimage-360 .cloudimage-360-next:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: 50% 50% / cover no-repeat;
}
.cloudimage-360 .cloudimage-360-prev:before {
    background-image: url("https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/assets/img/arrow-left.svg");
}
.cloudimage-360 .cloudimage-360-next:before {
    background-image: url("https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/assets/img/arrow-right.svg");
}
.cloudimage-360 .cloudimage-360-prev.not-active,
.cloudimage-360 .cloudimage-360-next.not-active {
    opacity: 0.4;
    cursor: default;
}

@media screen and (max-width: 600px) {
    .image {
        margin-left: 0;
    }
    .sumber-image {
        margin-left: 30px;
    }
    .image-360 {
        width: 97%;
    }
    .eksterior h3,
    .interior h3,
    .image-360 h3 {
        font-size: 22px;
    }
    .photo,
    .cloudimage-360 {
        margin: 10px 0;
        max-width: 500px;
    }
    .image-360,
    .interior,
    .eksterior {
        margin-left: 10px;
    }
    .images {
        margin-left: 10px;
    }
    .image-360 h3,
    .interior h3,
    .eksterior h3 {
        margin-left: 0;
    }
}
