.search{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 200;
}
.price {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
}
.price, .search{
    margin-left: 2px;
}
.banner-teks{
    top: 270px;
    margin-left: 65px;
    position: absolute;
    color: #fff;
    font-size: 44px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}
.banner-price{
    top: 320px;
    margin-left: 65px;
    position: absolute;
    color: #fff;
    font-size: 32px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    filter: contrast(100%);
}
.banner-button{
    top: 320px;
    position: absolute;
    margin-left: 65px;
}
.banner img{
    position: relative;
    width: 100%;
    max-height: 600px;
    filter: contrast(80%);
}
.qta{
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    display: block;
}

.kelebihan{
    width: 100%;
    padding-top: 10px;
    margin-left: 60px;
}
.kelebihan h1{
    font-size: 30px;
}
.kelebihan h3{
    margin-top: 10px;
    font-size: 22px;
}
.plus-minus{
    margin-top: 20px;
    margin-left: 20px;
}
.bg-hijau{
    background-color: rgba(0, 255, 0, 0.1);
    height: 250px;
}
.bg-merah{
    background-color: rgba(255, 0, 0, 0.1);
    height: 250px;
}
ul{
    list-style: none;
    list-style-position: outside;
}
.hijau::before{
    content: "\2022";
    color: green;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.merah::before{
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.hijau, .merah{
    font-size: 16px;
    font-weight: 200;
    text-align: justify;
    margin-left: -20px;
}
@media screen and (max-width:600px){
    .search{
        margin-top: 10px;
        font-size: 16px;
    }
    .price{
        font-size: 16px;
    }
    .banner-teks{
        top: 140px;
        margin-left: 30px;
    }
    .banner-price{
        top: 180px;
        margin-left: 30px;
    }
    .banner-price h5{
        font-size: 12px;
    }
    .banner-teks h2{
        font-size: 26px;
    }
    .banner-button{
        top: 180px;
        margin-left: 30px;
    }
    .qta{
        font-size: 18px;
    }
    .kelebihan{
        padding-top: 0;
        margin-top: 2px;
        margin-left: 0;
    }
    .kelebihan h1{
        font-size: 22px;
    }
    .kelebihan h3{
        font-size: 18px;
    }
    .plus-minus{
        margin: 0;
    }
    .bg-hijau, .bg-merah{
        margin-top: 20px;
    }
}